<form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <h3 class="login-form-title">{{ formTitle }}</h3>
    <input formControlName="email" type="email" placeholder="Email" />
    <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)">
      <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</small>
      <small *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</small>
    </div>
    
    <input formControlName="password" type="password" placeholder="Password" />
    <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
      <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
      <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
    </div>
    
    <div class="have-account">
      <p>Don't have an account? signup now 👉🏼</p>
      <a [routerLink]="['/register']">SignUp</a>
    </div>
    
    <button type="submit" [disabled]="loginForm.invalid">login</button>
</form>>
