div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  background-color: green;
  margin: auto;

  ul {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: wheat;
      }
    }
  }
}
